<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Home Page">
    <test name="Verification of Moisturizer Navigation">
        <groups>
            <run>
                <include name = "Regression">
                </include>
            </run>
        </groups>
        <classes>
            <class name="HomeTests"/>
            <class name="CartTests"/>
            <class name="MoisturizersTest"/>
            <class name="SunScreenTests"/>
        </classes>
    </test>
</suite>